.footer-container {
  padding: 3rem 3rem;
  .footer-box {
    color: #757575;
    width: 70%;
    margin: 0 auto;
    @media (max-width: 912px) {
      width: 80%;
    }
    @media (max-width: 540px) {
      width: 100%;
    }
    .footer-list {
      font-size: 0.9rem;
      display: flex;
      justify-content: space-between;
      margin: 1.5rem 0;
      .col {
        display: flex;
        flex-direction: column;
        &:last-child {
          @media (max-width: 540px) {
            display: none;
          }
        }
        .item {
          margin: 0.5rem 0;
        }
      }
    }
    .select {
      position: relative;
      select {
        background-color: black;
        color: #bab9b9;
        padding: 1rem 2rem 1rem 2rem;
        font-size: 1rem;
        appearance: none;
        &::-ms-expand {
          display: none;
        }
      }
      .icon {
        position: absolute;
        top: 0.25rem;
        &.lang {
          left: 0.5rem;
        }
        &.arrow {
          left: 5.5rem;
        }
      }
    }
  }
}
