.section-container {
  padding: 3rem 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .section-left {
    width: 50%;
    .title {
      font-size: 3rem;
      font-weight: bold;
    }
    .desc {
      font-size: 2rem;
    }
  }
  .section-right {
    width: 40%;
    position: relative;
    img {
      width: 100%;
      position: relative;
      z-index: 2;
    }
    video {
      left: 5.5rem;
      top: 0.2rem;
      position: absolute;
      width: 73%;
      &.small {
        width: 60%;
        top: 2.5rem;
        left: 6rem;
      }
    }
  }
}
